html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

header {
  opacity: 0.9;
  text-align: center;
  background: radial-gradient(circle,
    rgba(16, 43, 102, 0.9),
    rgb(15, 102, 124, 0.9));
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  margin-top: -15px;
  margin-bottom: 10px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  z-index: 20;
}

h1 {
  font-family: "Dancing Script", cursive;
  height: 80%;
  margin: auto;
  font-size: 58px;
  vertical-align: center;
}

#subtitle {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  vertical-align: center;
}

/* background image */
.bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("pics/OceanView.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ----- CSS ACCORDION ----- */
/* width for acordion & centered */
.ac-container {
  width: 1250px;
  margin: auto;
}

.ac-container label {
  margin: 0;
  display: block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), #777);
  opacity: 0.8;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1) !important;
  padding: 10px;
}

i {
  border: solid rgb(18, 13, 70);
  opacity: 0.8;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 4px;
  padding: 3px;
}

.labelArrow {
  visibility: hidden;
  float: right;
  margin-top: 7px;
  margin-right: 10px;
  border: solid white;
  opacity: 0.5;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ac-container input:checked+i.labelArrow {
  visibility: visible;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.ac-container label:hover {
  animation-name: button-colors;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
}

@keyframes button-colors {
  100% {
    background-color: #555;
  }
}

/* when a label is clicked, the checkbox gets checked & label gets selected style */
.ac-container input:checked+label,
.ac-container input:checked+label:hover {
  background-color: #555;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* hide inputs */
.ac-container input {
  display: none;
}

/* content has initial height = 0 & overflow hidden; transition for height/box-shadow */
.ac-container article {
  background: rgba(255, 255, 255, 0.75);
  margin-top: -1px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  overflow-y: scroll;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.4s ease-in-out, box-shadow 0.6s linear;
}

/* another transition for selected item */
.as-container input:checked~article {
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}

/* style content */
.ac {
  margin: 0, 10px;
  background: rgba(255, 255, 255, 0.75);
  color: rgb(18, 13, 70);
  font-size: 16px;
  padding: 0;
}

/* height of article */
.ac-container input:checked~article.ac {
  height: 375px;
  ;
}

/* ----- CONTENT ----- */
/* Where From */
.Intro {
  width: 33%;
  margin: auto;
}

.IntroP {
  vertical-align: center;
  margin: 25px;
}

.CarolynPic {
  float: left;
  width: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: #777 solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.li {
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  width: 560px;
}

i {
  border: solid rgb(18, 13, 70);
  opacity: 0.8;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-left: 4px;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.interestTable {
  margin: 20px 50px;
}

td {
  padding: 0;
}

/* ----- LIGHTBOX ----- */
.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: relative;
  z-index: 10;
  padding-top: 25px;
  width: 40%;
  margin: auto;
  height: 465px;
  margin: auto;
  overflow: hidden;
  border-radius: 40px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  border-radius: 20px;
  margin: auto;
  padding: 0;
  width: 384px;
  height: 384px;
  opacity: 1;
  z-index: 100;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  text-align: center;
}

.rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* captions - categories */
.numbertext {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  right: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding: 5px 15px;
  position: absolute;
  top: 0;
}

/* caption text */
.caption-container {
  font-family: "Quicksand", sans-serif;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  background-color: rgba(80, 0, 80, 0.8);
  color: white;
}

p#caption {
  padding: 10px;
  margin: 0;
  margin-top: -5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

img.demo.active,
img.demo {
  visibility: hidden;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* category content */
.visual {
  float: right;
  margin: 20px;
  margin-top: 10px;
  margin-left: 7%;
  margin-bottom: 50px;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  opacity: 0.75;
}

.visRight {
  margin-right: 0;
}

.visual:hover {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  animation-name: visual-fade;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes visual-fade {
  100% {
    opacity: 1;
  }
}

.c2content {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(197, 0, 0, 0.19);
  z-index: 2;
  padding: 0;
}

h2,
h3,
p,
li {
  font-family: "Quicksand", sans-serif;
}

.emphasis,
.qualities,
.value {
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  color: rgb(91, 16, 151);
  line-height: 0.8;
}

.qualities {
  margin-top: -10px;
  margin-bottom: 8px;
  color: rgb(5, 109, 109);
}

.makesMeMe {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  margin: 20px 125px;
  margin-bottom: 3f0px;
  padding-top: 1px;
  padding-bottom: 10px;
}

.meMe {
  margin-bottom: 2px;
}

/* Where Going */
.aspirations {
  margin-top: -10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.dream {
  text-align: center;
  width: 470px;
  height: 120px;
  float: left;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 50px;
  padding: 12px;
  border-radius: 40px;
  border: 4px dotted rgb(170, 170, 170);
}

.dreamTitle {
  font-weight: bold;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.dreamText {
  color: rgb(91, 16, 151);
  margin-top: -18px;
  font-weight: bold;
}

a {
  color: rgb(5, 127, 197);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(70, 168, 224);
  text-decoration: underline;
  font-weight: bold;
}

.focus {
  font-style: italic;
  line-height: 50%;
}

ul {
  margin-top: -10px;
  margin-right: 90px;
  list-style-type: disc;
}

.careerInterests {
  text-align: left;
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-right: 200px;
}

.utilizingApt {
  text-align: left;
  padding: 5px 80px;
}

.aptitudeTable {
  width: 360px;
  margin-right: 80px;
  float: right;
  font-family: "Quicksand", sans-serif;
  background-color: rgba(0, 0, 0, 0.071);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  padding: 15px 15px 5px 15px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.aT {
  height: 30px;
}

th {
  text-align: left;
  font-weight: bold;
  font-size: 110%;
  color: rgb(5, 109, 109);
}

.indent {
  padding-left: 15px;
}

.aptitude {
  font-weight: bold;
}

.percentile {
  text-align: center;
  vertical-align: top;
}

.fullResults {
  font-size: 14px;
  text-align: center;
}

h3 {
  text-align: center;
}

.Life {
  margin: 40px 270px;
  display: block;
  width: 675px;
}

.valueTitle {
  font-size: 19px;
  font-weight: bold;
  margin: 0;
}

.values {
  float: left;
  margin-right: 30px;
  line-height: 45px;
  margin-bottom: 20px;
}

.value {
  margin-bottom: 5px;
  color: rgb(5, 109, 109);
}

h4 {
  color: rgb(18, 13, 70);
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
  font-weight: bold;
}